a, b, i, em, strong, code, var, tt { text-decoration: none; font-style: inherit; font-weight: inherit; }
h1, h2, h3, h4, h5, h6 { font: inherit; }
pre { overflow: hidden; white-space: pre-wrap; }
body, section, article, header, footer, nav, div, pre, ol, ul, li, h1, h2, h3, h4, h5, h6 {
  position: relative;
  box-sizing: border-box;
  margin: 0; padding: 0; border: 0;
}

/* Type metrics ----------------------- */

article h1,
body {
  font-size: 21px;
  line-height: 30px;
}

h1 {
  font-size: 44px;
  line-height: 45px;
}

h2 {
  font-size: 30px;
  line-height: 30px;
}

pre,
.error_strings,
article header.function code {
  font-size: 19px;
  line-height: 25px;
}


nav,
#examples,
footer,
div.annotation {
  font-size: 15px;
  line-height: 20px;
}

/* Typefaces -------------------------- */

/* Calibri */
body.calibri {
  font-family: "Calibri", sans-serif;
}
body.calibri strong {
  font-family: "Calibri-Bold";
}
body.calibri b,
body.calibri h2 {
  font-family: "Calibri-Bold";
}
body.calibri span.ext {
  font-family: "Calibri-Italic";
  opacity: 0.5;
  letter-spacing: -0.1ex;
}

/* Avenir Next */
body.avenir {
  font-family: "AvenirNext-Medium";
}
body.avenir strong {
  font-family: "AvenirNext-Bold";
}
body.avenir a:link,
body.avenir h1,
body.avenir h3,
body.avenir em {
  font-family: "AvenirNext-DemiBold";
}
body.avenir b,
body.avenir h2 {
  font-family: "AvenirNext-Heavy";
}
#page_nav .version,
body.avenir span.ext {
  font-family: "AvenirNext-UltraLight";
}

/* Consolas */
body.consolas pre,
body.consolas pre *,
body.consolas tt,
body.consolas code {
  font-family: "Consolas", "Menlo", "Courier", monospace;
}
body.consolas pre strong {
  font-weight: bold;
}

/* Paint ------------------------------ */

html { background: hsla(60, 0%, 95%, 1); }
body { background: radial-gradient(1200px at 100px 100px, hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 0)); }

html,
.error_strings code var {
  color: hsla(0, 0%, 33%, 1);
}

strong,
p em {
  color: black;
}

h1 a svg rect       { fill:  white; }
h1 a svg path       { fill:  hsl(160, 66%, 50%); }
h1 a b:nth-child(2) { color: hsl(210, 66%, 63%); }
h1 a b:nth-child(3) { color: hsl(260, 66%, 66%); }
h1 a b:nth-child(4) { color: hsl(310, 66%, 66%); }

pre, code, var {
  background: hsla(0, 0%, 100%, 1);
  box-shadow: 0px 0px 1px hsla(0, 0%, 50%, 0.25);
}

tt {
  background: hsla(0, 0%, 0%, 0.1);
}

h2 {
  color: hsla(0, 0%, 0%, 0.5);
}

article h1.selected,
article h2.selected,
#page_nav a[href].selected {
  color: black;
}

.hljs-comment {
  color: orange;
  background: black;
}

/* Green? */

/* Blue */
.hljs-string,
.hljs-number,
a[href]:link {
  color: hsl(210, 66%, 53%);
}

/* Violet */
a[href]:visited {
  color: hsl(260, 66%, 56%);
}

/* Pink */
.hljs-keyword,
.hljs-built_in,
.hljs-literal,
.hljs-regexp {
  color: hsl(310, 66%, 46%);
}

/* Layout ----------------------------- */

body {
  position:relative;
  padding: 30px 60px;
  max-width: 960px;
  outline: 1px solid hsla(0, 0%, 0%, 0.1);
}

h1 { margin: -30px 0 0; line-height: 45px; }
h2 { margin: 30px 0 0; }
h3 { margin: 30px 0 -15px; }
p  { margin: 20px 0; }
ul { margin: 20px 0; }

code, tt, var { padding: 1px 5px; }

article { padding: 15px 0px; }
article > div { padding: 15px 0px; }
article > h1 { margin: 0; }
article > a[id],
article header.function a[id] {
  position: absolute; top: -55px;
}

article header.function { margin: 0px 0px 0px; }
article header.function h2 { margin: 0 0 5px; }
article header.function code { background:transparent; padding: 0; margin: 0; box-shadow: none;}

article li {
  list-style-type: none;
}
code.hljs-string {
  background:transparent; padding: 0; margin: 0; box-shadow: none;
}

pre {
  padding: 10px 0px 10px 60px;
  margin: 0px -60px;
}

pre.html {
  background: transparent;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
}

ul.error_strings {
  margin-right: -50px;
}
ul.error_strings li {
  margin-left: 15px;
}
ul.error_strings li:before {
  content: "✖︎";
  opacity: 0.33;
  position: absolute;
  left: -15px;
  font-size: 15px;
  top: 0px;
}

body > footer {
  margin-top: 30px;
}

/* miniLockLib Header ----------------- */

body > header:first-child {
  margin:15px 0 45px;
}
body > header:first-child h1 svg {
  vertical-align: bottom;
  position: relative;
  height: 110px;
  width: 80px;
  top: 5px;
}

/* Navigation ------------------------- */

#page_nav div { margin: 0px 0px 15px; }
#page_nav div a:before { content: "• "; position: relative; opacity: 0.5; top: 1px; }
#page_nav div.public_domain { margin: 0; }
#page_nav div.public_domain a:before { display: none; }

@media screen and (min-width: 960px) {
  body {
    margin: 0 0 0 180px;
  }
  #page_nav {
    position: fixed;
    overflow: auto;
    left: 0; top: 0; bottom: 0;
    width: 180px;
    padding: 15px;
  }
  #page_nav em {
    white-space: nowrap;
  }
}

@media screen and (min-height: 1024px) and (min-width: 960px) {
  #page_nav div.public_domain {
    position:fixed;
    left: 0;
    bottom: 0;
    padding: 15px;
    margin: 0px;
    width: 180px;
  }
}

/* Examples --------------------------- */

div.example a.window {
  display: block;
  width: 100%;
  overflow: hidden;
  background: black;
  box-shadow: 0px 2px 10px hsla(0, 0%, 0%, 0.66);
  border-top: 10px solid hsl(0, 0%, 90%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.example a[href] img {
  display: block;
  width: 100%;
  margin-top: 0px;
  transition: all 500ms ease-in-out;
}

@media screen and (max-width: 1400px) {
  #examples {
    height: 330px;
    margin: 30px 0 60px;
  }

  div.example {
    position:absolute;
    bottom: 0;
    width: 45%;
  }
  div.example a.window {
    margin: 5px -5px 0;
  }
  div.example a.window:hover img {
    margin-top: -90px;
  }

  div.example:nth-child(2) {
    left: 0%;
    z-index: 2;
  }
  div.example:nth-child(3) {
    left: 28%;
    z-index: 3;
    bottom: -10px;
  }
  div.example:nth-child(4) {
    left: 56%;
    bottom: -20px;
    z-index: 1;
  }
  div.example:hover {
    z-index: 4;
  }

  div.example:nth-child(2) a.window {
    max-height: 210px;
  }
  div.example:nth-child(3) a.window {
    max-height: 250px;
  }
  div.example:nth-child(4) a.window {
    max-height: 290px;
  }
}

@media screen and (min-width: 1400px) {
  #examples {
    margin: 0;
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 960px;
    margin-left: 180px;
    padding: 15px 45px;
    overflow: auto;
  }
  #examples p {
    margin: 0;
  }
  div.example {
    padding: 15px 0 0;
    margin: 0px 0 5px;
  }
  #examples a.window {
    max-width: 300px;
    margin: 5px 0 0;
  }
  div.example div.repo {
    position: relative;
    left: 0;
    top: 0;
  }
}

/* ------------------------------------ */

body.annotated_code {
  max-width: none;
  outline: none;
  background: none;
  /*min-width: 1200px;*/
}
body.annotated_code section {
  margin: 30px -25px;
  padding: 0px 25px;
  border-left: 1px solid hsla(0, 0%, 0%, 0.25);
}

body.annotated_code div.annotation {
  position: absolute;
  top: 0;
  left: -215px;
  width: 215px;
  padding: 0px 15px;
  text-align: right;
}

body.annotated_code div.annotation p {
  padding: 0;
  margin: 0px 0px 15px;
}
body.annotated_code div.annotation a[href] {
  color: inherit;
  text-decoration: underline;
  font-family: inherit;
  white-space: nowrap;
}
body.annotated_code div.code pre {
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

#projects p {
  position: relative;
  padding-left: 105px;
}
#projects img {
  position: absolute;
  left: 0;
  top: 0;
  height: 90px;
}
